
<div>
    <h2><span>UserAttributes</span> {{userAttributes.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>RequestToken</span>
                </td>
                <td>
                    <span class="form-control-static">{{userAttributes.requestToken}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>AccessToken</span>
                </td>
                <td>
                    <span class="form-control-static">{{userAttributes.accessToken}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ExpirationDateofToken</span>
                </td>
                <td>
                    <span class="form-control-static">{{userAttributes.expirationDateofToken | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Gender</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'lokavidyaApp.Gender.' + userAttributes.gender}}">{{userAttributes.gender}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Language</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'lokavidyaApp.Language.' + userAttributes.language}}">{{userAttributes.language}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LatentAbilityScore</span>
                </td>
                <td>
                    <span class="form-control-static">{{userAttributes.latentAbilityScore}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{userAttributes.createdAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{userAttributes.updatedAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ExtraBooleanSettings</span>
                </td>
                <td>
                    <span class="form-control-static">{{userAttributes.extraBooleanSettings}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>image</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="image.detail({id:userAttributes.image.id})">{{userAttributes.image.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>location</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="location.detail({id:userAttributes.location.id})">{{userAttributes.location.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
