<div>
    <h2>UserAttributess</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="userAttributes.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new UserAttributes</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a UserAttributes</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>RequestToken</span></th>
                    <th><span>AccessToken</span></th>
                    <th><span>ExpirationDateofToken</span></th>
                    <th><span>Gender</span></th>
                    <th><span>Language</span></th>
                    <th><span>LatentAbilityScore</span></th>
                    <th><span>CreatedAt</span></th>
                    <th><span>UpdatedAt</span></th>
                    <th><span>ExtraBooleanSettings</span></th>
                    <th><span>image</span></th>
                    <th><span>location</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userAttributes in userAttributess track by userAttributes.id">
                    <td><a ui-sref="userAttributes.detail({id:userAttributes.id})">{{userAttributes.id}}</a></td>
                    <td>{{userAttributes.requestToken}}</td>
                    <td>{{userAttributes.accessToken}}</td>
                        <td>{{userAttributes.expirationDateofToken | date:'mediumDate'}}</td>
                    <td translate="{{'lokavidyaApp.Gender.' + userAttributes.gender}}">{{userAttributes.gender}}</td>
                    <td translate="{{'lokavidyaApp.Language.' + userAttributes.language}}">{{userAttributes.language}}</td>
                    <td>{{userAttributes.latentAbilityScore}}</td>
                        <td>{{userAttributes.createdAt | date:'mediumDate'}}</td>
                        <td>{{userAttributes.updatedAt | date:'mediumDate'}}</td>
                    <td>{{userAttributes.extraBooleanSettings}}</td>
                    <td>
                        <a ui-sref="image.detail({id:userAttributes.image.id})">{{userAttributes.image.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="location.detail({id:userAttributes.location.id})">{{userAttributes.location.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="userAttributes.detail({id:userAttributes.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="userAttributes.edit({id:userAttributes.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="userAttributes.delete({id:userAttributes.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
