
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myUserAttributesLabel">Create or edit a UserAttributes</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="userAttributes.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_requestToken">RequestToken</label>
            <input type="text" class="form-control" name="requestToken" id="field_requestToken"
                    ng-model="userAttributes.requestToken"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_accessToken">AccessToken</label>
            <input type="text" class="form-control" name="accessToken" id="field_accessToken"
                    ng-model="userAttributes.accessToken"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_expirationDateofToken">ExpirationDateofToken</label>
            <input id="field_expirationDateofToken" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="userAttributes.expirationDateofToken" is-open="datePickerForExpirationDateofToken.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForExpirationDateofTokenOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gender">Gender</label>
            <select class="form-control" name="gender" ng-model="userAttributes.gender" id="field_gender">
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_language">Language</label>
            <select class="form-control" name="language" ng-model="userAttributes.language" id="field_language">
                <option value="ENGLISH">ENGLISH</option>
                <option value="HINDI">HINDI</option>
                <option value="MARATHI">MARATHI</option>
                <option value="ASSAMESE">ASSAMESE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latentAbilityScore">LatentAbilityScore</label>
            <input type="number" class="form-control" name="latentAbilityScore" id="field_latentAbilityScore"
                    ng-model="userAttributes.latentAbilityScore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdAt">CreatedAt</label>
            <input id="field_createdAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="userAttributes.createdAt" is-open="datePickerForCreatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updatedAt">UpdatedAt</label>
            <input id="field_updatedAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="userAttributes.updatedAt" is-open="datePickerForUpdatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForUpdatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_extraBooleanSettings">ExtraBooleanSettings</label>
            <input type="checkbox" class="form-control" name="extraBooleanSettings" id="field_extraBooleanSettings"
                    ng-model="userAttributes.extraBooleanSettings"
                     />
            <div ng-show="editForm.extraBooleanSettings.$invalid">
                <p class="help-block"
                    ng-show="editForm.extraBooleanSettings.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_image">image</label>
            <select class="form-control" id="field_image" name="image" ng-model="userAttributes.image" ng-options="image as image.id for image in images | orderBy:'id' track by image.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_location">location</label>
            <select class="form-control" id="field_location" name="location" ng-model="userAttributes.location" ng-options="location as location.id for location in locations | orderBy:'id' track by location.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
