
<div>
    <h2><span>Image</span> {{image.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Type</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'lokavidyaApp.ImageType.' + image.type}}">{{image.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Caption</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.caption}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Url</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.url}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Sync</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.sync}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>IsSlide</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.isSlide}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>SlideXML</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.slideXML}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.createdAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{image.updatedAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
