<div>
    <h2>Images</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="image.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Image</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Image</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Type</span></th>
                    <th><span>Caption</span></th>
                    <th><span>Url</span></th>
                    <th><span>Sync</span></th>
                    <th><span>IsSlide</span></th>
                    <th><span>SlideXML</span></th>
                    <th><span>CreatedAt</span></th>
                    <th><span>UpdatedAt</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in images track by image.id">
                    <td><a ui-sref="image.detail({id:image.id})">{{image.id}}</a></td>
                    <td>{{image.name}}</td>
                    <td translate="{{'lokavidyaApp.ImageType.' + image.type}}">{{image.type}}</td>
                    <td>{{image.caption}}</td>
                    <td>{{image.url}}</td>
                    <td>{{image.sync}}</td>
                    <td>{{image.isSlide}}</td>
                    <td>{{image.slideXML}}</td>
                        <td>{{image.createdAt | date:'mediumDate'}}</td>
                        <td>{{image.updatedAt | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="image.detail({id:image.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="image.edit({id:image.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="image.delete({id:image.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
