
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myImageLabel">Create or edit a Image</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="image.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="image.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="image.type" id="field_type">
                <option value="PROFILEPIC">PROFILEPIC</option>
                <option value="INTERESTPIC">INTERESTPIC</option>
                <option value="TUTORIALPIC">TUTORIALPIC</option>
                <option value="THUMBNAILPIC">THUMBNAILPIC</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_caption">Caption</label>
            <input type="text" class="form-control" name="caption" id="field_caption"
                    ng-model="image.caption"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="image.url"
                    required />
            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                    ng-show="editForm.url.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sync">Sync</label>
            <input type="checkbox" class="form-control" name="sync" id="field_sync"
                    ng-model="image.sync"
                     />
            <div ng-show="editForm.sync.$invalid">
                <p class="help-block"
                    ng-show="editForm.sync.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isSlide">IsSlide</label>
            <input type="checkbox" class="form-control" name="isSlide" id="field_isSlide"
                    ng-model="image.isSlide"
                     />
            <div ng-show="editForm.isSlide.$invalid">
                <p class="help-block"
                    ng-show="editForm.isSlide.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_slideXML">SlideXML</label>
            <input type="text" class="form-control" name="slideXML" id="field_slideXML"
                    ng-model="image.slideXML"
                    required />
            <div ng-show="editForm.slideXML.$invalid">
                <p class="help-block"
                    ng-show="editForm.slideXML.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdAt">CreatedAt</label>
            <input id="field_createdAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="image.createdAt" is-open="datePickerForCreatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updatedAt">UpdatedAt</label>
            <input id="field_updatedAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="image.updatedAt" is-open="datePickerForUpdatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForUpdatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
