
<div>
    <h2><span>Tag</span> {{tag.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tag.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Weight</span>
                </td>
                <td>
                    <span class="form-control-static">{{tag.weight}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{tag.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{tag.createdAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{tag.updatedAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Origin</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'lokavidyaApp.Origin.' + tag.origin}}">{{tag.origin}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
