
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCommentLabel">Create or edit a Comment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_commentContent">CommentContent</label>
            <input type="text" class="form-control" name="commentContent" id="field_commentContent"
                    ng-model="comment.commentContent"
                    required />
            <div ng-show="editForm.commentContent.$invalid">
                <p class="help-block"
                    ng-show="editForm.commentContent.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_baseTutorial">baseTutorial</label>
            <select class="form-control" id="field_baseTutorial" name="baseTutorial" ng-model="comment.baseTutorial" ng-options="tutorial as tutorial.id for tutorial in tutorials track by tutorial.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="comment.user" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
