<div>
    <h2>Comments</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="comment.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Comment</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Comment</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>CommentContent</span></th>
                    <th><span>baseTutorial</span></th>
                    <th><span>user</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comment in comments track by comment.id">
                    <td><a ui-sref="comment.detail({id:comment.id})">{{comment.id}}</a></td>
                    <td>{{comment.commentContent}}</td>
                    <td>
                        <a ui-sref="tutorial.detail({id:comment.baseTutorial.id})">{{comment.baseTutorial.id}}</a>
                    </td>
                    <td>
                        {{comment.user.id}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="comment.detail({id:comment.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="comment.edit({id:comment.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="comment.delete({id:comment.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
