
<div>
    <h2><span>Comment</span> {{comment.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>CommentContent</span>
                </td>
                <td>
                    <span class="form-control-static">{{comment.commentContent}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>baseTutorial</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tutorial.detail({id:comment.baseTutorial.id})">{{comment.baseTutorial.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>user</span>
                </td>
                <td>
                    {{comment.user.id}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
