<div>
    <h2>SegmentVideos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="segmentVideo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new SegmentVideo</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a SegmentVideo</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Zipurl</span></th>
                    <th><span>CreatedAt</span></th>
                    <th><span>UpdatedAt</span></th>
                    <th><span>Sync</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="segmentVideo in segmentVideos track by segmentVideo.id">
                    <td><a ui-sref="segmentVideo.detail({id:segmentVideo.id})">{{segmentVideo.id}}</a></td>
                    <td>{{segmentVideo.zipurl}}</td>
                        <td>{{segmentVideo.createdAt | date:'mediumDate'}}</td>
                        <td>{{segmentVideo.updatedAt | date:'mediumDate'}}</td>
                    <td>{{segmentVideo.sync}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="segmentVideo.detail({id:segmentVideo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="segmentVideo.edit({id:segmentVideo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="segmentVideo.delete({id:segmentVideo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
