
<div>
    <h2><span>SegmentVideo</span> {{segmentVideo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Zipurl</span>
                </td>
                <td>
                    <span class="form-control-static">{{segmentVideo.zipurl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{segmentVideo.createdAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{segmentVideo.updatedAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Sync</span>
                </td>
                <td>
                    <span class="form-control-static">{{segmentVideo.sync}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
