
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myLvcategoryLabel">Create or edit a Lvcategory</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="lvcategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="lvcategory.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="lvcategory.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_origin">Origin</label>
            <select class="form-control" name="origin" ng-model="lvcategory.origin" id="field_origin">
                <option value="SYSTEM">SYSTEM</option>
                <option value="HUMAN">HUMAN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_parentCatId">ParentCatId</label>
            <input type="number" class="form-control" name="parentCatId" id="field_parentCatId"
                    ng-model="lvcategory.parentCatId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_levelFromRoot">LevelFromRoot</label>
            <input type="number" class="form-control" name="levelFromRoot" id="field_levelFromRoot"
                    ng-model="lvcategory.levelFromRoot"
                     />
        </div>

        <div class="form-group">
            <label for="field_image">image</label>
            <select class="form-control" id="field_image" name="image" ng-model="lvcategory.image" ng-options="image as image.id for image in images | orderBy:'id' track by image.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
