<div>
    <h2>Lvcategorys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="lvcategory.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Lvcategory</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Lvcategory</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Description</span></th>
                    <th><span>Origin</span></th>
                    <th><span>ParentCatId</span></th>
                    <th><span>LevelFromRoot</span></th>
                    <th><span>image</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lvcategory in lvcategorys track by lvcategory.id">
                    <td><a ui-sref="lvcategory.detail({id:lvcategory.id})">{{lvcategory.id}}</a></td>
                    <td>{{lvcategory.name}}</td>
                    <td>{{lvcategory.description}}</td>
                    <td translate="{{'lokavidyaApp.Origin.' + lvcategory.origin}}">{{lvcategory.origin}}</td>
                    <td>{{lvcategory.parentCatId}}</td>
                    <td>{{lvcategory.levelFromRoot}}</td>
                    <td>
                        <a ui-sref="image.detail({id:lvcategory.image.id})">{{lvcategory.image.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="lvcategory.detail({id:lvcategory.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="lvcategory.edit({id:lvcategory.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="lvcategory.delete({id:lvcategory.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
