
<div>
    <h2><span>Lvcategory</span> {{lvcategory.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{lvcategory.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{lvcategory.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Origin</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'lokavidyaApp.Origin.' + lvcategory.origin}}">{{lvcategory.origin}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ParentCatId</span>
                </td>
                <td>
                    <span class="form-control-static">{{lvcategory.parentCatId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LevelFromRoot</span>
                </td>
                <td>
                    <span class="form-control-static">{{lvcategory.levelFromRoot}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>image</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="image.detail({id:lvcategory.image.id})">{{lvcategory.image.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
