
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTutorialLabel">Create or edit a Tutorial</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tutorial.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tutorial.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="tutorial.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_upvoteCount">UpvoteCount</label>
            <input type="number" class="form-control" name="upvoteCount" id="field_upvoteCount"
                    ng-model="tutorial.upvoteCount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_downvoteCount">DownvoteCount</label>
            <input type="number" class="form-control" name="downvoteCount" id="field_downvoteCount"
                    ng-model="tutorial.downvoteCount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdAt">CreatedAt</label>
            <input id="field_createdAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tutorial.createdAt" is-open="datePickerForCreatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updatedAt">UpdatedAt</label>
            <input id="field_updatedAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tutorial.updatedAt" is-open="datePickerForUpdatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForUpdatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_authorName">AuthorName</label>
            <input type="text" class="form-control" name="authorName" id="field_authorName"
                    ng-model="tutorial.authorName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_videoUrl">VideoUrl</label>
            <input type="text" class="form-control" name="videoUrl" id="field_videoUrl"
                    ng-model="tutorial.videoUrl"
                    required />
            <div ng-show="editForm.videoUrl.$invalid">
                <p class="help-block"
                    ng-show="editForm.videoUrl.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_playlist">playlist</label>
            <select class="form-control" id="field_playlist" multiple name="playlist" ng-model="tutorial.playlists" ng-options="playlist as playlist.id for playlist in playlists track by playlist.id"></select>
        </div>
        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="tutorial.user" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_externalVideo">externalVideo</label>
            <select class="form-control" id="field_externalVideo" name="externalVideo" ng-model="tutorial.externalVideo" ng-options="externalVideo as externalVideo.id for externalVideo in externalvideos | orderBy:'id' track by externalVideo.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_segmentVideo">segmentVideo</label>
            <select class="form-control" id="field_segmentVideo" name="segmentVideo" ng-model="tutorial.segmentVideo" ng-options="segmentVideo as segmentVideo.id for segmentVideo in segmentvideos | orderBy:'id' track by segmentVideo.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_tag">tag</label>
            <select class="form-control" id="field_tag" multiple name="tag" ng-model="tutorial.tags" ng-options="tag as tag.id for tag in tags track by tag.id"></select>
        </div>
        <div class="form-group">
            <label for="field_lvcategory">lvcategory</label>
            <select class="form-control" id="field_lvcategory" name="lvcategory" ng-model="tutorial.lvcategory" ng-options="lvcategory as lvcategory.id for lvcategory in lvcategorys | orderBy:'id' track by lvcategory.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
