
<div>
    <h2><span>Tutorial</span> {{tutorial.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpvoteCount</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.upvoteCount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>DownvoteCount</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.downvoteCount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.createdAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.updatedAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>AuthorName</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.authorName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>VideoUrl</span>
                </td>
                <td>
                    <span class="form-control-static">{{tutorial.videoUrl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>playlist</span>
                </td>
                <td>
                    <span ng-repeat="playlist in tutorial.playlists">
                        <a class="form-control-static" ui-sref="playlist.detail({id: {{playlist.id}}})">{{playlist.id}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>user</span>
                </td>
                <td>
                    {{tutorial.user.id}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>externalVideo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="externalVideo.detail({id:tutorial.externalVideo.id})">{{tutorial.externalVideo.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>segmentVideo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="segmentVideo.detail({id:tutorial.segmentVideo.id})">{{tutorial.segmentVideo.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>tag</span>
                </td>
                <td>
                    <span ng-repeat="tag in tutorial.tags">
                        <a class="form-control-static" ui-sref="tag.detail({id: {{tag.id}}})">{{tag.id}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>lvcategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="lvcategory.detail({id:tutorial.lvcategory.id})">{{tutorial.lvcategory.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
