<div>
    <h2>Tutorials</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="tutorial.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Tutorial</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Tutorial</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Description</span></th>
                    <th><span>UpvoteCount</span></th>
                    <th><span>DownvoteCount</span></th>
                    <th><span>CreatedAt</span></th>
                    <th><span>UpdatedAt</span></th>
                    <th><span>AuthorName</span></th>
                    <th><span>VideoUrl</span></th>
                    <th><span>playlist</span></th>
                    <th><span>user</span></th>
                    <th><span>externalVideo</span></th>
                    <th><span>segmentVideo</span></th>
                    <th><span>tag</span></th>
                    <th><span>lvcategory</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tutorial in tutorials track by tutorial.id">
                    <td><a ui-sref="tutorial.detail({id:tutorial.id})">{{tutorial.id}}</a></td>
                    <td>{{tutorial.name}}</td>
                    <td>{{tutorial.description}}</td>
                    <td>{{tutorial.upvoteCount}}</td>
                    <td>{{tutorial.downvoteCount}}</td>
                        <td>{{tutorial.createdAt | date:'mediumDate'}}</td>
                        <td>{{tutorial.updatedAt | date:'mediumDate'}}</td>
                    <td>{{tutorial.authorName}}</td>
                    <td>{{tutorial.videoUrl}}</td>
                    <td>
                        <span ng-repeat="playlist in tutorial.playlists">
                            <a class="form-control-static" ui-sref="playlist.detail({id: {{playlist.id}}})">{{playlist.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        {{tutorial.user.id}}
                    </td>
                    <td>
                        <a ui-sref="externalVideo.detail({id:tutorial.externalVideo.id})">{{tutorial.externalVideo.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="segmentVideo.detail({id:tutorial.segmentVideo.id})">{{tutorial.segmentVideo.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="tag in tutorial.tags">
                            <a class="form-control-static" ui-sref="tag.detail({id: {{tag.id}}})">{{tag.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <a ui-sref="lvcategory.detail({id:tutorial.lvcategory.id})">{{tutorial.lvcategory.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="tutorial.detail({id:tutorial.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="tutorial.edit({id:tutorial.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="tutorial.delete({id:tutorial.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
