
<div>
    <h2><span>ExternalVideo</span> {{externalVideo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalVideo.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Url</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalVideo.url}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>IsYoutube</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalVideo.isYoutube}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalVideo.createdAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalVideo.updatedAt | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
