
<div>
    <h2><span>Location</span> {{location.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>LocationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{location.locationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Latitude</span>
                </td>
                <td>
                    <span class="form-control-static">{{location.latitude}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Longitude</span>
                </td>
                <td>
                    <span class="form-control-static">{{location.longitude}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
